*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "Source Sans 3", sans-serif;
    margin: 0;
    background-color: #fafafa;
}

.blog-page,
.about-page {
    padding: 2.5em 0.625em;
}

/* Nav */
nav,
.logo,
nav ul {
    display: flex;
}

nav {
    flex-direction: row;
    justify-content: space-between;
    margin: 0.625em 0.95em;
    padding: 1.25em 0.625em;
}

.logo img {
    width: 35px;
    height: 30px;
    display: block;
    padding: 0 0.5em 0 0;
}

.logo p {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 1.125rem;
    /* 18px */
    margin: auto 0;
}

nav ul {
    list-style: none;
    justify-content: end;
    margin: auto 0;
}

nav li {
    padding: 0 1.25em 0 0;
    font-size: 1rem;
    /* 16px */
    font-weight: 500;
}

a {
    text-decoration: none;
    color: #141414;
    cursor: pointer;
}

a:hover {
    text-decoration: underline;
}


/* Header */

.home-header {
    background-color: #e5e4e4;
    padding: 4.65em 1.25em 1.55em;
    margin: 0.95em 0;
}

.profile-head {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: auto 0;
    padding: 0 0 1.25em 0;
}

/* Footer */

footer {
    padding: 1.875em 0;
    margin: 6.25em 0 0 0;
    background-color: #202020;
}

footer p {
    text-align: center;
    font-size: 0.88rem;
    /* 14px */
    color: #ececec;
}

/* Typography */

h1 {
    font-size: 2.25rem;
    /* 36px */
}

.blog-page h1 {
    padding: 0 0 0.55em 0;
}

.profile-head h1 {
    line-height: 1;
}

.profile-head h1,
.profile-head p {
    padding: 0.625em 0;
}

h2 {
    font-size: 1.5rem;
    /* 24px */
    padding: 0.42em 0;
}

h3 {
    font-size: 1.375rem;
    /* 22px */
    padding: 1.81em 0 0 0;
}

header p {
    font-size: 1.125rem;
    /* 18px */
    padding: 0.55em 0
}

h1,
h2,
h3,
p {
    margin: 0;
}

.date {
    padding: 0.31em 0 0 0;
}


/* Images */
.thumbnail {
    width: 100%;
    margin: 0 auto;
}

.blog-img {
    width: 100%;
    padding: 1.88em 0;
}

.profile-img {
    width: 200px;
    height: 200px;
    display: flex;
    padding: 0 0 0.625em 0;
}

/* Grid Layout */

.homepage,
.related-blogs,
article {
    display: grid;
    grid-template-columns: 1, 1fr;
    grid-template-areas:
        "blog1"
        "blog2"
        "blog3"
        "blog4"
        "blog5"
        "blog6";
    margin: 0 1.5em;
}

section {
    margin: 1.55em 0 0.95em 0;
}

.blog-one {
    grid-area: blog1;
}

.blog-two {
    grid-area: blog2;
}

.blog-three {
    grid-area: blog3;
}

.blog-four {
    grid-area: blog4;
}

.blog-five {
    grid-area: blog5;
}

.blog-six {
    grid-area: blog6;
}


/* Media Queries */

@media (min-width:480px) {
    .homepage {
        margin: 0 2.5em;
    }

    .logo p {
        font-size: 1.5rem;
        /* 24px */
    }

    .logo img {
        width: 50px;
        height: 45px;
    }

    nav li {
        font-size: 1.125rem;
        /* 18px */
    }

    p {
        font-size: 1.125rem;
        /* 18px */
        line-height: 1.5;
    }
}

@media (min-width:768px) {
    .homepage {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-areas:
            "blog1 blog1 blog1 blog2 blog2 blog2"
            "blog3 blog3 blog3 blog4 blog4 blog4"
            "blog5 blog5 blog5 blog6 blog6 blog6"
        ;
        grid-gap: 2em;
        margin: 0 5em;
    }

    .related-blogs {
        grid-template-columns: repeat(6, 1fr);
        grid-template-areas:
            "blog2 blog2 blog3 blog3 blog4 blog4";
        grid-gap: 2em;
    }


    header {
        text-align: center;
    }

    header p {
        font-size: 1.25rem;
        /* 20px */
    }

    h1 {
        font-size: 2.5rem;
        /* 40px */
    }

    .profile-head {
        flex-direction: row;
    }
}


@media (min-width:1024px) {

    .homepage {
        grid-template-columns: repeat(12, 1fr);
        grid-template-areas:
            "blog1 blog1 blog1 blog1 blog2 blog2 blog2 blog2 blog3 blog3 blog3 blog3"
            "blog4 blog4 blog4 blog4 blog5 blog5 blog5 blog5 blog6 blog6 blog6 blog6"
        ;
        grid-gap: 2em;
        margin: 0 auto;
        max-width: 1000px;
    }

    header {
        text-align: center;
    }

    header p {
        font-size: 1.5rem;
        /* 24px */
    }

    h1 {
        font-size: 3rem;
        /* 48px*/
    }

    article,
    .related-blogs,
    header h1,
    header p {
        max-width: 1000px;
        margin: 0 auto;
    }

    .blog-page,
    .about-page {
        padding: 5em 0;
    }

}